.info-panel_invest{
	margin-bottom: 60px;
	.info-panel__left,.info-panel__right{
		width: 50%;
	}
}

.fs_invest{
	background: transparent;
	padding: 0;
	margin: 0;
	margin-top: -20px;
	margin-bottom: 160px;

	.fs__row-item_first{
		margin-bottom: 30px;
	}
}